DISCORD_TOKEN=your_discord_bot_token_here
DISCORD_CLIENT_ID=your_discord_application_client_id_here
DISCORD_GUILD_ID=your_discord_server_id_here

OPEN_TICKET_CATEGORY_ID=your_open_ticket_category_id_here
CLOSED_TICKET_CATEGORY_ID=your_closed_ticket_category_id_here
TICKET_TOOL_BOT_ID=your_ticket_tool_bot_id_here
CLASHPERK_BOT_ID=your_clashperk_bot_id_here

COC_API_TOKEN=your_clash_of_clans_api_key_here

ROSTER_BACKEND_URL=
ROSTER_BOT_SECRET=
ROSTER_FIREBASE_DB_URL=
ROSTER_WEBSITE_LEADERBOARD_URL=
